.header-container {
    position: fixed;
    background: linear-gradient(90deg, #f2f2f2 34%, #69D9C4 34%);
    z-index: 3;
    width: 100%;
    height: 5vw;
    padding: auto 5vw;

    .menu-items {
        padding: 0px 3vw;
        li{
            list-style: none;
            padding: 6px 1.1vw;
            margin: 0px 1vw;
            font-size: 1.3vw;
            min-width: 7.5vw;
            text-align: center;
            a {
                color: white;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        li:hover {
            cursor: pointer;
        }
    }
    .main-logo{
        img {
            width: 14vw;
            height: auto;
            // max-height: ;
        }
    }
    .social-media {
        // margin: auto;
        .social-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            border-radius: 50%;
            border: none;
            img {
                width: 80%;
            }
        }
        .app-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8vw;
            height: auto;
            margin: 0px 0.5vw;
            img {
                width: 100%;
            }
        }
    }
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    padding: 10px;
    img {
        width: 100%;
        height: auto;
    }
}

header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

@media(max-width: 599px) {
    .header-container {
        height: 12vw;
    }
    header label {
        display: flex;
        height: 100%;
        padding: 0px 10px;
        align-items: center;
    }
    .header-container .main-logo {
        margin-left: 5vw;
        padding: 2vw;
        img {
            width: 100%;
        }
    }
    .header-container .menu {
        position: absolute;
        top: 12vw;
        right: 0px;
        background: white;
        width: 0%;
        overflow: hidden;
        z-index: 3;
        transition: all 0.5s;
        .menu-items {
            padding: 10px 20px;
            margin: 4px 0px;
            li {
                width: 100%;
            }
            li a{
                width: 100%;
                font-size: 18px;
                color: black;
                font-weight: 600;
                padding: 8px 20px;
                text-align: center;
                text-decoration: none;
            }
        }
        .social-media {
            padding: 10px;
            .social-icon {
                width: 24px;
                height: 24px;
            }
        }
    }
    header .menu .menu-items li:hover {
        background: rgba(0,0,0,0.3);
        cursor: pointer;
    }

    #btn-menu:checked ~ .menu {
        width: 70%;
    }
    .header-container {
        background: linear-gradient(90deg, white 65%, #69D9C4 65%);
     }
}