<header class="header-container" fxLayout="row"  fxFlex="100" fxLayoutAlign="space-between center" fxLayoutAlign.lt-sm="space-between center">
    
    <div class="main-logo" fxLayout="row" fxFlex="33" fxFlex.lt-sm="50" fxLayoutAlign="center center">
        <img src="./../../../assets/images/cs-logo.svg" alt="CS-capital-logo">
    </div>

    
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu" ><img id="menu" src="./../../assets/general/menu-icon.svg" alt=""></label>

    <nav class="menu" fxFlex="60" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.gt-xs="end center">
        <ul class="menu-items" fxFlex="60" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center" >
            <!-- <li><a href="#app-movil">App móvi</a></li> -->
            <li><a href="#como-invertir">Cómo invertir</a></li>
            <li><a href="#rentabilidad">Rentabilidad</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
        <div class="social-media" fxFlex="40" fxLayout="row" fxLayoutAlign="center center">
            <a fxHide.gt-xs class="social-icon" href="https://www.instagram.com/cs.capital/" target="_blank">
                    <img src="./../../../assets/social-media/instagram.svg" alt="">
            </a>
            <a fxHide.gt-xs class="social-icon" href="https://www.facebook.com/CS-Capital-104181188450670" target="_blank">
                    <img src="./../../../assets/social-media/facebook.svg" alt="">
            </a>
            <a fxHide.lt-sm class="app-icon" href="https://play.google.com/store/apps/details?id=com.egm.cs_capital" target="_blank">
                    <img src="./../../../assets/phone/Google Play Badge.svg" alt="">
            </a>
            <a fxHide.lt-sm class="app-icon" href="https://apps.apple.com/us/app/cs-capital/id1569405035" target="_blank">
                    <img src="./../../../assets/phone/App Store Badge -w.png" alt="">
            </a>

        </div>
    </nav>

</header>