.main-section {
    width: 100%;
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    .text-content {
        color: #203959;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 18%;
        padding: 4vw 12vw;
        // height: auto;
        .first-text {
            margin: 0px;
            font-size: 3vw;
            font-weight: 400;    
        }
        .second-text {
            margin: 0px;
            font-size: 4vw;
            font-weight: 700;
        }
    }
}


app-header {
    height: min-content;
}


