<div class="simulator-container">
    <div class="title">Simulador</div>
    <div class="mount-investment" fxLayout="column" [formGroup]="investment">
        <label for="monto" class="sec-title">¿Cuánto quieres invertir?</label>
        <p class="plazo">Plazo: 1 año</p>
        <input formControlName="value" placeholder="Monto" type="number" id="monto" class="mount" (keyup)="calculateInvestment()">
        <div class="message" *ngIf="investment.get('value').value < 500 || investment.get('value').touched && investment.get('value').value == null">
            <p *ngIf="investment.get('value').hasError('required')" class="error">
                Ingrese un valor de inversión
            </p>
            <p *ngIf="investment.get('value').value < 500" class="error">
                El monto mínimo es $500
            </p>
        </div>
    </div>
    <div class="plan">
        <div fxLayout="row" fxFlexAlign="start center">
            <p fxFlex="50" class="plan-type">Plan 1: Mensual</p>
            <p fxFlex="38" class="plan-porcentage">{{monthInterest}}% interés fijo</p>
        </div>
        <p class="plan-message">Recibe tu rentabilidad cada mes</p>
        <div id="plan-1-container" class="cs-result" fxLayout="row" fxLayoutAlign="space-between center">
            <p class="name">CS Capital</p>
            <div fxLayout="column" fxLayoutAlign="center center">
                <h4>{{csPayMonth | currency}}</h4>
                <h6>{{totalMonth | currency}} anual</h6>
            </div>
        </div>
    </div>
    <div class="plan">
        <div fxLayout="row" fxFlexAlign="start center">
            <p fxFlex="50" class="plan-type-year">Plan 2: Anual</p>
            <p fxFlex="38" class="plan-porcentage-year">{{yearInterest}}% interés fijo</p>
        </div>
        <p class="plan-message year">Recibe tu rentabilidad al final del año</p>
        <div id="plan-2-container" class="cs-result" fxLayout="row" fxLayoutAlign="space-between center">
            <p class="name">CS Capital</p>
            <!-- <div fxLayout="column" fxLayoutAlign="center center"> -->
                <h4>{{totalYear | currency}}</h4>
            <!-- </div> -->
        </div>
    </div>
    <div class="bank-result">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <p class="name">Otras entidades</p>
            <h4>{{bankValue | currency}}</h4>
        </div>
    </div>

    <div class="guide">
        <a href="#rentabilidad">
            <img src="./../../../assets/general/Question.png" alt=""> Como se calculan las ganancias
        </a>
    </div>

    <div class="simulator-button" fxLayoutAlign="center center">
        <button (click)="contactWhatsapp()">Quiero invertir</button>
    </div>
</div>