.simulator-container {
    width: 100%;
    color: #5A5A5A;
    padding: 1.2vw 2vw;
    background-color: white;
    border-radius: 10px;
    .title{
        font-size: 2vw;
        font-weight: 700;
        text-align: center;
        margin: 0.2vw 0px;
    }
    .sec-title {
        font-weight: 500;
        font-size: 1.2vw;
        padding: 0.2vw 0px 0.2vw 0px;
        // margin: 3px 0px;
    }
    .mount-investment, .type-rentability {
        width: 100%;
        padding: 0.5vw 0px;
    }
    .mount-investment {
        .mount {
            border-radius: 10px;
            background-color: #F6F6F6;
            padding: 0.5vw 2vw;
            outline: none;
            border: none;
            font-size: 1.3vw;
        }
        #monto:focus {
            box-shadow: (0 0 5px rgba(81, 203, 238, 1));
            // box-shadow: #69D9C4;
            // padding: 3px 0px 3px 3px;
            // margin: 5px 1px 3px 0px;
            border: 1px solid rgba(81, 203, 238, 1);
            // border: 1px solid #69D9C4;
        }
    }
    .type-rentability {
        .rentability-options {
            margin: 0.3vw 0px 0.6vw;
            option{
                font-size: 1.2vw;
            }
        }
    }
    .plazo {
        color: #69D9C4;
        font-size: 1.2vw;
        margin: 0.4vw 0px;
    }
    .plan {
        // height: 7vw;
        margin: 0.6vw 0px;
        height: auto;
        .plan-type, .plan-type-year {
            color: #586F8C;
            font-weight: 500;
            font-size: 1.2vw;
            margin: 0;
        }
        .plan-porcentage, .plan-porcentage-year {
            margin: 0px;
            font-size: 1vw;
            background-color: #586F8C;
            color: white;
            font-weight: 500;
            padding: 0.2vw 0.5vw;
            border-radius: 1vw;
            text-align: center;
        }
        .plan-type-year {
            color: #44A68A;
        }
        .plan-porcentage-year {
            background-color: #44A68A;
            color: white;
        }
        .plan-message {
            margin: 0.3vw 0px;
            color: #586F8C;
            font-size: 1vw;
        }
        .cs-result {
            color: white;
            background-color: #69D9C4;
            padding: 1vh 1vw;
            border-radius: 10px;
            h6 {
                width: 100%;
                text-align: end;
                margin: 0px;
                font-size: 0.8vw;
                font-weight: 500;
            }
            h4 {
                font-size: 1.8vw;
                margin: 0px;
                // max-width: 70%;
                // text-overflow: ellipsis;
            }
            .name{
                margin: 0px;
                font-size: 1.3vw;
                font-weight: 500;
                margin-bottom: 0.7vh;
            }
        }
    }
    .bank-result {
        background-color: #F2F2F2;
        color: #5A5A5A;
        padding: 0.8vw;
        border-radius: 10px;
        .name {
            margin: 0px;
            font-size: 1.3vw;
            font-weight: 500;
        }
        h4 {
            font-size: 1.4vw;
            margin: 0px;
        }
    }
    .guide{
        width: 100%;
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 0.9vw;
            color: #44A68A;
            font-weight: 500;
            text-align: end;
            margin: 0.7vw 0px 0.6vw;
            img {
                width: 8%;
                height: auto;
                margin-right: 0.3vw;
            }
        }
        // p {
        // }
    }
    .simulator-button {
        button{
            cursor: pointer;
            box-shadow: 0px 6px 6px -6px rgb(26, 25, 25);
            color: white;
            background-color: #69D9C4;
            padding: 0.4vw 1.2vw;
            outline: none;
            border: none;
            border-radius: 15px;
            font-size: 1.1vw;
        }
    }
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 4vw;
    
}

.mat-radio-button {
    font-size: 1.2vw;
}

.message {
    p {
        margin: 0px;
    }
    .error {
        color: red;
        font-size: 0.8vw;
        font-weight: 400;
        padding: 0.1vw 1vw;
    }
}

@media (max-width: 599px) {
    .mat-radio-button {
        font-size: 2.7vw;
    }
    .simulator-container {
        padding: 1vh 2vw;
        .title{
            font-size: 5.5vw;
            margin: 3vh 0px 1.5vh;
        }
        .sec-title {
            font-size: 3.5vw;
        }
        .mount-investment {
            .message {
                .error {
                    font-size: 2.7vw;
                    font-weight: 400;
                    padding: 0.2vw 1vw;
                }
            }
            .mount {
                padding: 1.5vh 2vw;
                font-size: 3.5vw;
                margin: 1.2vh 0px;
            }
        }
        .type-rentability {
            .rentability-options {
                margin: 2vh 0px;
            }
        }
        .plazo {
            font-size: 3vw;
        }
        .plan {
            margin-bottom: 2vw;
            .plan-type, .plan-type-year {
                font-size: 3.2vw;
            }
            .plan-porcentage, .plan-porcentage-year {
                border-radius: 4vw;
                font-size: 2.5vw;
            }
            .plan-message {
                font-size: 2.2vw;
            }
            .cs-result {
                padding: 1vw 2vw;
                h6 {
                    font-size: 3vw;
                }
                h4 {
                    font-size: 5vw;
                }
                .name{
                    font-size: 3.6vw;
                }
            }
        }
        .bank-result {
            padding: 1vw 2vw;
            .name {
                font-size: 2.8vw;
            }
            h4 {
                font-size: 3vw;
            }
        }
        .guide a {
            font-size: 2.3vw;
            margin-top: 2vw;
        }
        .simulator-button {
            margin: 2.5vw 0px;
            button{
                padding: 1vh 4vw;
                font-size: 3vw;
            }
        }
    }
}