<section id="simulador" class="main-section">
    <img fxHide.lt-sm src="./../assets/images/home-image.webp" alt="inversionista">
    <img id="ahorro" fxShow.lt-sm src="./../assets/images/animal.webp" alt="ahorro">
    <div class="text-content">
      <h4 class="first-text">No guardes tu dinero</h4>
      <h1 class="second-text">¡Inviértelo!</h1>
    </div>
    <div fxHide.lt-sm class="arrow">
      <img src="./../assets/images/flecha.svg" alt="flecha">
    </div>
    <div class="simulator">
        <app-simulator></app-simulator>
    </div>
</section>

<section class="general-information">

  <div class="primary-info">
    <img id="poligon1" src="./../../assets/information/polygon1.webp" alt="poligono1">
    <img id="poligon2" src="./../../assets/information/polygon2.webp" alt="poligono2">
    <img fxHide.lt-sm id="computer" src="./../../assets/information/computer.webp" alt="trabajo">
    <img fxHide.lt-sm id="client"src="./../../assets/information/client.webp" alt="cliente">
    <div id="info-{{i}}" class="individual-info" *ngFor="let item of cs_info; index as i" fxFlexAlign="start center" fxLayout="column" fxLayout.lt-sm="column">
      <h2 fxFlex="60">{{item.title}}</h2>
      <div class="info-content" fxFlex="50">
        <p >{{item.content}}</p>
      </div>
    </div>
  </div>
  
  <div class="warranty-container">
    <h2>Garantías, somos tu mejor opción</h2>
    <div class="warranty-row" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column">
      <div class="warranty-individual" *ngFor="let item of warranty" fxFlex="30" fxFlex.lt-sm="100" >
        <!-- <div class="warranty-img" fxLayoutAlign="center center">
        </div> -->
        <img src="{{item.image}}" alt="">
        <div class="warranty-content">
          <p class="content">{{item.content}}</p>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="rentabilidad" class="invesment-plans">
  <h2>Planes de inversión</h2>

  <table class="investment-table">
    <thead>
      <tr class="table-head">
        <td></td>
        <th id="plan-1">Plan 1:<br>Rentabilidad<br>mensual</th>
        <th id="plan-2">Plan 2:<br> Rentabilidad<br>anual</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr class="table-titles">
        <td>Inversión</td>
        <td>Rentabilidad sobre el capital inicial*</td>
        <td>Rentabilidad sobre el capital inicial*</td>
      </tr>
      <tr class="row-color">
        <td class="left-column">Desde $500 hasta $9,999</td>
        <td class="secondary-column">3%</td>
        <td class="secondary-column-2">4%</td>
      </tr>
      <tr>
        <td class="left-column">Desde $10,000 hasta $19,999</td>
        <td class="secondary-column">3.5%</td>
        <td class="secondary-column-2">4.5%</td>
      </tr>
      <tr>
        <td class="left-column">Desde $20,000 hasta $49,999</td>
        <td class="secondary-column">4%</td>
        <td class="secondary-column-2">5%</td>
      </tr>
      <tr class="row-color">
        <td class="left-column">Desde $50,000 hasta $99,999</td>
        <td class="secondary-column">4.5%</td>
        <td class="secondary-column-2">5.5%</td>
      </tr>
      <tr>
        <td class="left-column">$100,000 en adelante</td>
        <td class="secondary-column">5%</td>
        <td class="secondary-column-2">6%</td>
      </tr>
    </tbody>
  </table>

  <div class="footer-text">
    <p>*El capital inicial se calcula con el CAPITAL DEPOSITADO  menos el 2.7% de comisión por inversiones internacionales.</p>
  </div>

</section>

<section class="investment-process" id="como-invertir">
  <h2>Cómo invertir</h2>
  <div class="steps-container">
    <div class="individual-step" *ngFor="let item of steps">
      <!-- <div class="step-img"> -->
        <img src={{item?.img}} alt="">
      <!-- </div> -->
      <div class="step-content">
        <p class="title">{{item?.title}}</p>
        <p class="step-description">{{item?.description}}</p>
      </div>
    </div>
  </div>
</section>

<section class="our-investers" fxLayout="column">
  <div class="comillas">
      <img src="./../../assets/images/testimonial.svg" alt="comillas">
  </div>
  <h2>Nuestros inversionistas</h2>
  <!-- Slider -->
  <div class="sec-container" fxLayout="column" fxLayoutAlign="start center">

      <div class="swiper-container" >
        <div class="swiper-wrapper" >
            <div class="invester-opinion swiper-slide" *ngFor="let item of inversores"   fxLayout="column" fxLayoutAlign="start center">
              <div class="opinion-content">
                <p class="title">{{item.phrase}}</p>
                <p>{{item.opinion}}</p>
              </div>
              <div class="invester-info" fxLayout="row" fxLayoutAlign="center center">
                <div class="invester-photo">
                  <img [src]="item.imagen" alt="">
                </div>
                <div class="invester-data" fxLayout="column">
                  <p class="name">{{item.nombre}}</p>
                <p class="profesion">{{item.cargo}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      
    <div class="general-info" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div class="item-info" *ngFor="let item of general_info" fxLayout="column" fxLayoutAlign="center center">
        <div class="item-image">
          <img [src]="item.imagen" alt="">
        </div>
        <p class="item-number">{{item.numero}} +</p>
        <p class="item-description">{{item.descripcion}}</p>
      </div>
    </div>
  </div>
</section>

<section class="our-legacy">
  <h2>Es hora de cumplir tus sueños</h2>
  <div class="projects-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center">
      <div class="individual-project" *ngFor="let item of projects" fxLayout="column" fxFlex="30" fxFlex.lt-sm="100" >
        <div class="image-project">
          <img src="{{item.image}}" alt="">
        </div>
        <div class="content-project">
          <p class="title">{{item.title}}</p>
          <p class="description">{{item.description}}</p>
        </div>
      </div>
  </div>
</section>

<section id="app-movil" class="investment-cellphone">
  <div class="mid-container">
    <h2>Maneja tus inversiones desde el celular</h2>
    <p class="description">CS capital app te permitirá visualizar la rentabilidad de tu futura inversión, podrás calcular  la rentabilidad exacta que producirá tu capital, la fecha de pago y los diferentes planes que manejamos.</p>
    <div class="app-buttons">
      <p>Disponible en:</p>
      <div class="buttons">
        <a href="https://play.google.com/store/apps/details?id=com.egm.cs_capital" target="_blank">
          <img src="./../../assets/phone/Google Play Badge.png" alt="">
        </a>
        <a href="https://apps.apple.com/us/app/cs-capital/id1569405035" target="_blank">
          <img src="./../../assets/phone/App Store Badge.png" alt="">
        </a>
      </div>
    </div>
    <img fxHide.lt-sm id="phone1" src="./../../assets/phone/Phone Mockup 1.webp" alt="">
    <img id="phone2" src="./../../assets/phone/Phone Mockup 2.webp" alt="">
  </div>
</section>

<section class="questions-container">
  <h2>Preguntas frecuentes</h2>
  <div class="questions" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start" fxLayoutAlign.lt-sm="center center">
    <div class="column-left">
      <div class="individual-question" *ngFor="let item of questions1; index as i">
        <p class="question" (click)="toggleQuestion(i)">{{item?.question}} <span><img src="./../../assets/general/vector.svg" alt=""></span></p>
        <div id="question{{i}}" class="panel">
          <p class="answer">{{item?.answer}}</p>
        </div>
      </div>
    </div>
    <div class="column-right">
      <div class="individual-question" *ngFor="let item of questions2; index as i">
        <p class="question" (click)="toggleQuestion(i+3)">{{item?.question}} <span><img src="./../../assets/general/vector.svg" alt=""></span></p>
        <div id="question{{i+3}}" class="panel">
          <p class="answer">{{item?.answer}} <span *ngIf="i == 0"> <a href="#simulador">Simulador de inversión</a></span></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contacto" class="contact-form" fxLayout="row" fxLayoutAlign="space-between start" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
  <!-- <img src="./../../assets/images/img-form.png" alt=""> -->
  <div class="contact-text" fxFlex.gt-xs="45" fxLayout="column" fxLayoutAlign="space-between start">
    <div>
      <h2>¡Contáctanos!</h2>
      <h3>Utiliza siempre nuestros <strong>canales oficiales</strong></h3>
    </div>
    <div class="social-media" fxFlex="50" fxLayout="column" fxLayoutAlign="center start">
      <!-- <div class="social-icon"> -->
        <div class="social-ind" fxLayout="row" fxLayoutAlign="center center" (click)="contactWhatsapp()">
          <div class="social-icon" target="_blank" rel="noopener noreferrer">
            <img src="./../../../assets/social-media/Whatsapp.svg" alt="whatsapp">
          </div>
          <p>0978812149</p>
        </div>
        <div class="social-ind" fxLayout="row" fxLayoutAlign="center center" >
          <div class="social-icon">
            <img src="./../../../assets/social-media/Message.svg" alt="correo">
          </div>
          <p>soporte@cscapitalinvest.com</p>
        </div>
        <div class="social-ind" fxLayout="row" fxLayoutAlign="start center">
          <a class="social-icon" href="https://www.facebook.com/CS-Capital-104181188450670" target="_blank">
            <img src="./../../../assets/social-media/Facebook-w.svg" alt="">
          </a>
          <a class="social-icon" href="https://instagram.com/cs.capital?utm_medium=copy_link" target="_blank">
              <img src="./../../../assets/social-media/Instagram-w.svg" alt="">
          </a>
          <p>@cs.capital</p>
        </div>
    <!-- </div> -->
    </div>
  </div>
  <form action="" fxFlex.gt-xs="30" class="form" fxLayout="column" [formGroup]="form1" >
    <h5>Formulario de contacto</h5>
    <p>Deja tus datos para recibir mayor información y asesoría personalizada.</p>
    <div class="inputs" fxLayout="column">
      <input type="text" placeholder="*Nombre" formControlName="name">
      <div class="message" *ngIf="form1.get('name').errors  && form1.get('name').touched">
        <p *ngIf="form1.get('name').hasError('required')" class="error">
            Tu nombre es un parámetro obligatorio
        </p>
      </div>
      <input type="text" placeholder="*Correo electrónico" formControlName="email">
      <div class="message" *ngIf="form1.get('email').errors  && form1.get('email').touched">
        <p *ngIf="form1.get('email').hasError('email')" class="error">
            Ingresa un correo electrónico válido
        </p>
        <p *ngIf="form1.get('email').hasError('required')" class="error">
            Tu correo electrónico es un parámetro requerido
        </p>
      </div>
      <input type="text" placeholder="Teléfono" formControlName="phone">
      <div class="message" *ngIf="form1.get('phone').errors  && form1.get('phone').touched">
        <p *ngIf="form1.get('phone').hasError('pattern')" class="error">
          Ingrese solo dígitos numéricos
        </p>
        <p *ngIf="form1.get('phone').hasError('minlength')" class="error">
          La cantidad de dígitos no es correcta
        </p>
        <p *ngIf="form1.get('phone').hasError('maxlength')" class="error">
            La cantidad de dígitos no es correcta
        </p>
      </div>
      <textarea formControlName="message" name="" id="" cols="30" rows="3" placeholder="*Mensaje"></textarea>
      <!-- <input type="text" placeholder="*Mensaje" formControlName="message"> -->
      <div class="message" *ngIf="form1.get('message').errors  && form1.get('message').touched">
        <p *ngIf="form1.get('message').hasError('required')" class="error">
            El contenido de tu mensaje nos ayuda a aclarar cualquier duda que tengas
        </p>
        <p *ngIf="form1.get('message').hasError('maxlength')" class="error">
            Máximo 150 caracteres.
        </p>
      </div>
    </div>
    <div fxLayout="row"  fxLayoutAlign="center center">
      <button (click)="submitForm()">Enviar</button>
    </div>
    <div id="mensaje-correo">
      <p>¡Correo enviado exitosamente!</p>
    </div>
  </form>
</section>