.swiper-container {
    width: 100%;
    height: 100%;
  }

.main-section {
    margin-top: 5vw;
    border: none;
    // padding-top: 3vw;
    // background-image: url ("./../assets/images/home-image.jpg");
    #ahorro {
        display: none;
    }
    width: 100%;
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    .text-content {
        color: #203959;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 18%;
        padding: 4vw 12vw;
        // height: auto;
        .first-text {
            margin: 0px;
            font-size: 3vw;
            font-weight: 400;    
        }
        .second-text {
            margin: 0px;
            font-size: 4vw;
            font-weight: 700;
        }
    }
    .arrow {
        position: absolute;
        top: 2vw;
        right: 26vw;
        width: 15%;
        height: auto;
        padding: 4vw 12vw;
    }
    .simulator {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 24%;
        height: auto;
        padding: 1vw 8vw 3vw 0px;

    }
}

.general-information {
    height: 100%;
    margin: 3vw 0px;
    display: contents;
    .primary-info {
        position: relative;
        width: 100%;
        height: 40vw;
        .individual-info {
            margin: 4vw 0px;
            h2{
                font-size: 3vw;
                color: #203959;
                font-weight: 700;
                margin: 0px;
            }
            .info-content {
                margin: 0px;
                font-size: 1.2vw;
                .step {
                    margin: 0px;
                    padding-left: 1vw;
                }
            }
        }
        #poligon1, #poligon2, #computer, #client {
            position: absolute;
            width: 30%;
        }
        #poligon2 {
            left: 0px;
            top: 0px;
        }
        #client {
            left: 3%;
            top: 0px;
        }
        #poligon1 {
            right: 0px;
            top: 0px;
        }
        #computer {
            right: 5%;
            top: 0px;
        }
        #info-0 {
            position: absolute;
            top: 0px;
            left: 35%;
            width: 25%;
        }
        #info-1 {
            position: relative;
            width: 30%;
            // top: 70%;
            top: 27vw;
            left: 60%;
            p, h2 {
                text-align: end;
            }
        }
    }

    .warranty-container {
        margin-top: 2vw;
        padding: 4vw 5vw;
        .warranty-row {
            padding: 0px 2vw;
        }
        h2 {
            margin: 0;
            color: #203959;
            font-size: 3vw;
            font-weight: 700;
            margin-bottom: 5vw;
        }
        .warranty-individual {
            position: relative;
            height: 9.5vw;
            .warranty-content {
                background-color: #6180A8;
                border-radius: 1.5vw;
                padding: 2vw 2vw 2vw 3.5vw;
                height: 100%;
                p {
                    margin: 0px;
                    color: white;
                    font-size: 1.4vw;
                }
            }
            img {
                background-color: white;
                position: absolute;
                border-radius: 0px 0px 50% 0px;
                top: -30%;
                left: -12%;
                padding: 0.5vw;
                width: 20%;
            }
        }
    }
    
}

.invesment-plans {
    padding: 2.5vw 4vw;
    h2 {
        color: #203959;
        margin: 2.5vw 0px;
        font-size: 3vw;
    }

    .investment-table {
        width: 100%;
        td{
            padding: 1.2vw 0.8vw;
            border: transparent;
            margin: 0px;
            border-spacing: 0px !important;
        }
        .table-titles {
            font-size: 1.5vw;
            color: #586F8C;
            text-align: center;
            font-weight: 500;
            td {
                padding: 1.2vw 8vw;
                line-height: 2.6vw;
            }
        }
        .table-head {
            // color: #5A5A5A;
            font-size: 2.2vw;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 3vw;
            #plan-1 {
                color: #586F8C;
            }
            #plan-2 {
                color: #44A68A;
            }
        }
        .left-column {
            text-align: start;
            color: #5A5A5A;
            font-size: 1.2vw;
        }
        .secondary-column {
            text-align: center;
            color: #586F8C;
            font-weight: 600;
            font-size: 1.5vw;
        }
        .secondary-column-2 {
            text-align: center;
            color: #44A68A;
            font-weight: 600;
            font-size: 1.5vw;
        }
        .row-color {
            // background-color: #F9F2FF;
            // background-color:#586F8C ;
            // background-color: rgba(88, 111, 140, 0,1);
            background-color: rgba(88,111,140,0.1);
            border-radius: 6px;
        }
    }

    .footer-text {
        color: #44A68A;
        font-weight: 400;
        font-size: 1.4vw;
        text-align: end;
    }
}

.investment-process {
    margin: 8vw 0px 0px 0px;
    padding: 4vw 5vw;
    background-color: rgba(242, 242, 242, 1);
    h2{
        margin: 0;
        color: #203959;
        font-size: 3vw;
        font-weight: 700;
        margin-bottom: 1.5vw;
    }
    .steps-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .individual-step {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 22%;
            height: auto;
            margin-top: 2vw;
            img {
                transition: transform 1s ease-out;
                width: 28%;
                // height: 45%;
                margin-bottom: 0.5vw;
                border-radius: 50%;
                // background-color: white;
                // background-color: rgba(105, 217, 196, 1);
                // color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5vw;
                // img {
                //     width: 85%;
                //     height: auto;
                // }
            }
            img:hover{
                // transform: rotate(360deg);
                box-shadow: 0px 0px 5px 5px #66CCCC;
            }
            .title {
                margin: 0px;
                font-weight: bold;
                font-size: 1.6vw;
                margin-bottom: 0.5vw;
            }
            .step-description {
                margin: 0px;
                font-size: 1.4vw;
                padding-right: 2vw;
            }
        }
    }
}

.our-investers {
    background-color: #203959;
    background: linear-gradient(180deg, #203959 82%, white 82%);
    color: white;
    padding: 5vw;
    position: relative;
    .comillas {
        position: absolute;
        right: 1vw;
        top: 3vw;
        z-index: 1;
        width: 30%;
        direction: rtl;
        img {
            width: 70%;
            height: auto;
        }
    }
    h2 {
        margin: 0px;
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .invester-opinion {
        z-index: 2;
        margin-bottom: 7vw;
        // padding: 1vw;
        .title {
            text-align: center;
            font-weight: bold;
            font-size: 1.4vw;
            margin: 0px;
        }
        .opinion-content {
            background-color: white;
            color: #5A5A5A;
            padding: 2vw;
            text-align: center;
            font-size: 1.3vw;
            border-radius: 10px;
            margin-bottom: 1.6vh;
            height: 24vw;
        }
        .invester-info {
            margin-top: 2.5vw;
            .invester-photo {
                width: 4vw;
                height: 4vw;
                margin-right: 1.2vw;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            .invester-data {
                .name {
                    font-weight: 700;
                    font-size: 1.7vw;
                    margin: 0px;
                    margin-bottom: 0.5vh;
                }
                .profesion {
                    margin: 0px;
                    font-weight: 400;
                    font-size: 1.6vw;
                }
            }
        }
    }
    .general-info {
        margin: 4vh 0px;
        background-color: white;
        color: #203959;
        width: 70%;
        border-radius: 10px;
        padding: 3vh 2vw;
        .item-info {
            .item-image {
                width: 4vw;
                height: auto;
                margin-bottom: 1vw;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
            p {
                margin: 0;
            }
            .item-number {
                font-size: 3vw;
                font-weight: 700;
            }
            .item-description {
                font-size: 1.4vw;
            }
        }
    }
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.our-legacy {
    margin: 1vw 0px;
    padding: 4vw 5vw;
    background-color: rgba(255, 255, 255, 1);
    h2{
        margin: 0;
        color: rgba(32, 57, 89, 1);
        font-size: 3vw;
        font-weight: 700;
        margin-bottom: 2vw;
    }
    .individual-project {
        padding: 2vw;
        .image-project {
            width: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }
        .title {
            font-weight: 700;
            font-size: 1.6vw;
            color: rgba(48, 48, 48, 1);
            margin: 0px;
            margin-bottom: 1.2vw;
        }
        .description {
            font-weight: 400;
            font-size: 1.4vw;
            color: rgba(90, 90, 90, 1);
            margin: 0px;
        }
    }
}

.investment-cellphone {
    // background-color: #69D9C4;
    background-color: #F2F2F2;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    position: relative;
    .mid-container {
        width: 50%;
    }
    h2 {
        font-weight: bold;
        margin: 0px;
        font-size: 3vw;
        margin-bottom: 2vw;
        color: #203959;
    }
    .description {
        margin: 0px;
        font-size: 1.5vw;
        font-weight: 400;
        margin-bottom: 3.5vw;
    }
    .app-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
            font-size: 1.8vw;
            font-weight: 500;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 60%;
            a {
                margin-right: 2vw;
                width: 48%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    #phone1 {
        position: absolute;
        top: 0px;
        right: 21vw;
        width: 18%;
    }
    #phone2 {
        position: absolute;
        width: 18%;
        bottom: 0px;
        right: 3vw;
    }
}

.questions-container {
    padding: 5vw;
    h2 {
        font-weight: bold;
        margin: 0px;
        font-size: 3vw;
        margin-bottom: 2vw;
        color: #203959;
    }
    .questions {
        .column-left, .column-right {
            width: 45%;
            .individual-question {
                .question {
                    background-color: #F2F2F2;
                    color: #44A68A;
                    padding: 0.8vw 1.5vw 0.8vw 1vw;
                    border-radius: 2vw;
                    position: relative;
                    font-size: 1.4vw;
                    span {
                        position: absolute;
                        right: 1vw;
                        top: 25%;
                    }
                }
                .question:hover, .active {
                    background-color: #d6d5d5;
                    cursor: pointer;
                }
                .panel {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    .answer {
                        color: #5A5A5A;
                        font-size: 1.4vw;
                    }
                }
            }
        }
    }
}

.contact-form {
    background: linear-gradient(0deg, rgba(32, 57, 89, 0.5), rgba(32, 57, 89, 0.5)), url('./../../assets/images/img-form.webp');
    background-repeat: no-repeat;
    // background-size: 100%;
    // background-position: ;
    padding: 5vw;
    .message {
        p {
            margin: 0px;
        }
        .error {
            color: red;
            font-size: 0.8vw;
            font-weight: 400;
            padding: 0.2vw 1vw;
        }
    }
    .contact-text {
        height: 100%;
        h2 {
            font-size: 3.5vw;
            font-weight: 700;
            color: #FFFFFF;
            margin: 0;
        }
        h3 {
            margin: 0;
            margin-top: 2vw;
            font-size: 3.2vw;
            color: #69D9C4;
            font-weight: 700;
        }
        .social-media {
            margin-top: 10vw;
            .social-ind {
                .social-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px;
                    width: 3.2vw;
                    height: 3.2vw;
                    border-radius: 50%;
                    // background-color: rgba(0,0,0,0.2);
                    // background-color: red;
                    border: none; 
                }
                img {
                    width: 90%;
                }
                p {
                    margin: 0px;
                    color: white;
                    margin-left: 1.5vw;
                    font-size: 1.8vw;
                }
            }
        }
    }
    .form {
        background: white;
        border-radius: 10px;
        padding: 1.4vw 1.8vw;
        h5 {
            font-weight: bold;
            font-size: 1.6vw;
            margin: 0.5vw;
            text-align: center;
        }
        p {
            color: #5A5A5A;
            font-size: 1.3vw;
        }
        input, textarea {
            padding: 1.1vw;
            border-radius: 0.65vw;
            margin-top: 1.3vw;
            margin-bottom: 0.2vw;
            background-color: #F2F2F2;
            border: none;
            font-size: 1.2vw;
            outline: none;
        }
        button {
            // outline: none;
            // border: none;
            margin-top: 1.2vw;
            // padding: 1vw 4vw;
            // background-color: #69D9C4;
            // color: white;
            // border-radius: 1.8vw;
            width: 60%;
            // font-size: 1.4vw;
            // cursor: pointer;
            // box-shadow: 0px 6px 6px -6px rgb(26, 25, 25);
            cursor: pointer;
            box-shadow: 0px 6px 6px -6px rgb(26, 25, 25);
            color: white;
            background-color: #69D9C4;
            padding: 0.6vw 4vw;
            outline: none;
            border: none;
            border-radius: 15px;
            font-size: 1.1vw;
        }
        #mensaje-correo {
            display: none;
            padding: 1vw;
            p {
                margin: 0px;
                color: red;
                font-weight: 500;
                font-size: 1.3vw;
                text-align: center;
            }
        }
    }
}

@media (max-width: 599px) {
    .main-section {
        margin-top: 10vw;
        #ahorro {
            display: block;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 20%;
        }
        .text-content {
            position: relative;
            display: block;
            width: 36%;
            .first-text {
                font-size: 6vw;
            }
            .second-text {
                font-size: 5.5vw;
            }
        }
        background: linear-gradient(90deg, white 65%, #69D9C4 65%);
        .simulator {
            position: relative;
            width: 70%;
            height: auto;
            padding: 2.5vw 12vw;
            margin: 1vw auto;
        }
    }
    
    .general-information {
        height: 100%;
        margin: 3vw 0px;
        .primary-info {
            position: relative;
            width: 100%;
            height: auto;
            .individual-info {
                padding: 4vw 5vw;
                margin: 4vw 0px;
                h2{
                    font-size: 5vw;
                    color: #203959;
                    font-weight: 700;
                    margin: 0px;
                }
                .info-content {
                    font-size:3.5vw;
                    .step {
                        padding-left: 1vw;
                    }
                }
            }
            #poligon1, #poligon2, #computer, #client {
                width: 50%;
            }
            #poligon2 {
                left: 0px;
                top: 0px;
            }
            #poligon1 {
                right: 0px;
                top: 50%;
            }
            #info-0 {
                position: relative;
                top: 0px;
                left: 0px;
                width: 100%;
            }
            #info-1 {
                position: relative;
                width: 100%;
                top: 0;
                left: 0;
                p, h2 {
                    text-align: start;
                }
            }
        }
    
        .warranty-container {
            .warranty-row {
                padding:3vw;
            }
            h2 {
                font-size: 5vw;
                margin-bottom: 2vw;
            }
            .warranty-individual {
                position: relative;
                width: 100%;
                margin: 5vw 2vw;
                .warranty-content {
                    height: min-content;
                    padding: 2vw 2.5vw 2vw 6vw;
                    p {
                        margin: 0px;
                        font-size: 3.6vw;
                        height: 12vw;
                        padding: 1vw 2vw;
                    }
                }
                img {
                    top: -30%;
                    left: -5%;
                    padding: 0.5vw;
                    width: 13%;
                }
            }
        }
        
    }

    .invesment-plans {
        h2 {
            font-size: 6vw;
        }
    
        .investment-table {
            td{
                padding: 1.4vw 0.8vw;
            }
            .table-titles {
                font-size: 3vw;
                td {
                    padding: 1.2vw 2vw;
                }
            }
            .table-head {
                font-size: 3.3vw;
            }
            .left-column {
                font-size: 2.8vw;
            }
            .secondary-column, .secondary-column-2 {
                font-size: 3vw;
            }
        }
    
        .footer-text {
            font-size: 1.9vw;
        }
    }

    .investment-process {
        h2 {
            font-size: 6vw;
        }
        .steps-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .individual-step {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 45%;
                height: auto;
                margin-top: 4vw;
                .step-img {
                    width: 35%;
                    padding: 1.5vw;
                    margin-bottom: 1vw;
                    img {
                        width: 90%;
                        margin-left: 0.2vw;
                    }
                }
                .title {
                    margin: 0px;
                    font-weight: bold;
                    font-size: 3vw;
                }
                .step-description {
                    margin: 0px;
                    font-size: 2.8vw;
                }
            }
        }

    }

    .our-investers {
        h2 {
            font-size: 5.5vw;
            margin: 5vw 0px;
        }
        .invester-opinion {
            .opinion-content {
                font-size: 3.2vw;
                height: 65vw;
                .title {
                    font-size: 3.5vw;
                }
            }
            .invester-info {
                .invester-photo {
                    width: 12vw;
                    height: 12vw;
                    margin-right: 3.2vw;
                }
                .invester-data {
                    .name {
                        font-size: 3.5vw;
                    }
                    .profesion {
                        font-size: 3.4vw;
                    }
                }
            }
        }
        .general-info {
            width: 90%;
            .item-info {
                .item-image {
                    width: 10vw;
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                p {
                    margin: 0;
                }
                .item-number {
                    font-size: 4vw;
                }
                .item-description {
                    font-size: 2.3vw;
                }
            }
        }
    }

    .our-legacy {
        h2{
            font-size: 5vw;
        }
        .individual-project {
            width: 100%;
            padding: 2vw 0px;
            .image-project {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .title {
                font-size: 3.4vw;
            }
            .description {
                font-size: 3vw;
            }
        }
    }

    .investment-cellphone {
        .mid-container {
            width: 70%;
        }
        h2 {
            font-size: 5.5vw;
            margin-bottom: 2.3vw;
        }
        .description {
            font-size: 2.8vw;
        }
        .app-buttons {
            p {
                font-size: 2.7vw;
            }
            .buttons {
                width: 80%;
            }
        }
        #phone2 {
            width: 27%;
            right: 2vw;
        }
    }

    .questions-container {
        h2 {
            font-size: 5.5vw;
            margin-bottom: 2.2vw;
        }
        .questions {
            .column-left, .column-right {
                width: 100%;
                .individual-question {
                    .question {
                        font-size: 3.2vw;
                        span {
                            position: absolute;
                            right: 1vw;
                            top: 15%;
                            margin-left: 1vw;
                            img {
                                width: 80%;
                            }
                        }
                    }
                    .panel {
                        .answer {
                            font-size: 3.2vw;
                        }
                    }
                }
            }
        }
    }

    .contact-form {
        background-size: 200%;
        background-color: rgb(226, 229, 237);
        .contact-text {
            h2 {
                font-size: 5.5vw;
            }
            h3 {
                font-size: 5.2vw;
                margin-top: 2.8vw;
            }
            .social-media {
                margin: 3vw;
                .social-ind{
                    .social-icon{
                        margin: 3px;
                        width: 5vw;
                        height: 5vw;
                    }
                    p {
                        font-size: 3vw;
                    }
                }
            }
        }
        .form {
            width: 65%;
            margin: 1.2vw 0px;
            padding: 3vw;
            .message {
                .error {
                    font-size: 2.2vw;
                    margin-left: 1vw;
                }
            }
            h5 {
                font-size: 3.8vw;
            }
            p {
                font-size: 2.7vw;
            }
            input, textarea {
                font-size: 3vw;
                padding: 1.5vw 2vw;
                margin-top: 2.5vw;
            }
            button {
                // font-size: 3.2vw;
                margin: 1.5vw 0px;
                margin-top: 2.5vw;
                padding: 1vh 4vw;
                font-size: 3vw;
                
            }
            #mensaje-correo {
                display: none;
                p {
                    font-size: 2.5vw;
                }
            }
        }
    }
}