.footer-container {
    background-color: #203959;
    color: #D9DBE1;
    padding: 4vw 5vw;
    position: relative;
    // height: 220px;
    .back-img {
        width: 40%;
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .footer-logo {
        height: 4vw;
        width: 100%;
        margin-bottom: 3vw;
        img {
            height: 100%;
        }
    }
    .social-media {
        .social-ind {
            .social-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px;
                width: 3.2vw;
                height: 3.2vw;
                border-radius: 50%;
                border: none; 
            }
            img {
                width: 90%;
            }
        }
    }
    .content {
        p {
            font-size: 1.3vw;
            margin: 0px;
        }
        .credits {
            margin-top: 1vw;
            color: rgba(88, 111, 140, 1);
        }
    }
}

@media (max-width: 599px) {
    .footer-container {
        padding: 4vw 10vw 1vw;
        .back-img {
            width: 50%;
        }
        .footer-logo {
            height: 7.5vw;
        }
        .social-media {
            .social-ind{
                .social-icon{
                    width: 5vw;
                    height: 5vw;
                }
            }
        }
        .content {
            p {
                font-size: 2.5vw;
            }
        }
    }
}
