<footer class="footer-container">
    <div class="back-img">
        <img src="./../../../assets/images/back-logo-footer.png" alt="CS-capital-logo-footer">
    </div>
    <div class="footer-logo">
        <img src="./../../../assets/images/cs-logo.svg" alt="CS-capital-logo">
    </div>
    <div class="content">
        <p>© 2021 CS Capital</p>
        <p>Quito - Ecuador</p>
        <p class="credits">Desarrollado por EGM Robotics</p>
    </div>
    <div class="social-media" fxLayout="row" fxLayoutAlign="start center">
        <div class="social-media" fxFlex="50" fxLayout="column" fxLayoutAlign="center start">
              <div class="social-ind" fxLayout="row">
                <a class="social-icon" href="https://www.facebook.com/CS-Capital-104181188450670" target="_blank">
                  <img src="./../../../assets/social-media/Facebook-w.svg" alt="">
                </a>
                <a class="social-icon" href="https://www.instagram.com/cs.capital/" target="_blank">
                    <img src="./../../../assets/social-media/Instagram-w.svg" alt="">
                </a>
              </div>
          </div>
    </div>
</footer>